.App {
  text-align: center;
}

.trainerItemContainer {
  border: 1px solid red;
  width: 430px;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
  background: rgb(115, 255, 0)
}

.trainerItemContainer:hover {
  cursor: pointer;
}

#root {
background-image: url(https://launchpadbygaurav.files.wordpress.com/2018/05/banner.jpg);
background-repeat: no-repeat;
background-size: 1000px 800px;
}